@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil&family=Pacifico&display=swap");
:root {
  --main: #34bb78;
  --secode: #f4f4f6;
  --textColor: #2f313f;
  --white: #f2f2f2;
  --error: #eb6671;
}

html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif Tamil", serif;
}

#root {
  height: 100%;
}

.container {
  font-family: sans-serif;
  background: linear-gradient(var(--main), var(--textColor));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-box {
  width: 450px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--main);
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 95%;
  padding: 10px 10px;
  font-size: 16px;
  color: var(--white);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  border-radius: 10px;
  margin-top: 10px;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--main);
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--main);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: var(--main);
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--main), 0 0 25px var(--main), 0 0 50px var(--main),
    0 0 100px var(--main);
}

.invalid {
  color: var(--error) !important;
}
@media (max-width: 500px) {
  .login-box {
    width: 100%;
  }
}

.wrapper {
  height: 100%;
  display: flex;
}

.header {
  flex-grow: 1;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar {
  width: 20%;
  max-width: 400px;
  height: 100%;
  background-color: var(--main);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
.sidebar nav {
  margin-top: 100px;
}

.logo {
  width: 100%;
}

.logo img {
  width: 100%;
  
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-top: 20px;
}

.sidebar nav ul li button {
  background: transparent;
  border: none;
  width: 100%;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.sidebar nav ul li.active button {
  background-color: var(--white);
  color: var(--textColor);
}

.sidebar nav ul li:hover button {
  background-color: var(--white);
  color: var(--textColor);
}

.header nav {
  background-color: var(--textColor);
  height: 100px;
}
.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  align-items: center;
  height: 100%;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: var(--white);
}

.header .content {
  flex-grow: 1;
  padding: 20px;
}
.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 4px solid var(--textColor);
}

.admin-table th {
  text-align: left;
  padding: 12px 15px;
  background-color: rgb(183, 150, 150);
  color: #333;
  border: 2.5px solid var(--textColor);
}

.admin-table td {
  background: var(--secode);
  border: 2.5px solid var(--textColor);
  text-align: center;
  padding: 12px 15px;
  border-bottom: 1px solid #ccc;
}

.admin-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-table tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.admin-table button {
  padding: 6px 12px;
  margin-right: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: var(--error);
  cursor: pointer;
}

.admin-table button:hover {
  background-color: #23527c;
}

.admin-table td:last-child button:last-child {
  margin-right: 0;
}

.carousel-image {
  width: 200px;
  height: 200px;
}


.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 70%;
  background-color: var(--main);
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}